

/*for route_dragdrop.jsp*/
    
.viewimge{
	width:150px;
	height:150px;
}
		
#gallery { float: left; /*width: 65%*/ width:33%; min-height: 12em; /*for grid*/ margin-left: 30px; padding: 0;  list-style: none; overflow: auto; height:525px}
.gallery.custom-state-active { background: #eee; }
  .gallery li { float: left; width: 415px; padding: 0.6em; margin: 0 0.4em 0.4em 0; text-align: center; /*for grid*/overflow: hidden; display: block;}
  .gallery li h5 { margin: 0 0 0.4em; cursor: move;}
  .gallery li a { float: right; }
  .gallery li a.ui-icon-zoomin { float: left; }
  .gallery li img { /*width: 100%*/ width:400px; cursor: move; }
 
#route { float: right; /*width: 32%*/ width:30%; margin-right:30px; min-height: 18em; padding: 5px; overflow: auto; height:425px}
#route h4 { line-height: 16px; margin: 0 0 0.4em; }
#route h4 .ui-icon { float: left; }
#route .gallery h5 { display: inline; }
		

/*for grid*/
figure, figcaption, h3, p {
            margin: 0;
            padding: 0;
        }
        
#gallery li > figure {
                float: left;
                /*width: 25%;*/
                width: 400px;
                margin: 0;
            }

                #gallery li > figure img {
                    display: block;
                    max-width: 100%;
                    /*height: auto;*/
                    height: 180px;
                    weight: 400px;
                }

        .image-details {
            clear: both;
            padding: 1em;
            background: #222;
            color: #fff;
            position: relative;
            overflow: hidden;
            display: none;
        }

        .image-details-close {
            position: absolute;
            top: 1em;
            right: 1em;
            width: 25px;
            height: 25px;
            text-indent: -9999em;
            background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAGXRFWHRTb2Z0d2Fy ZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyRpVFh0WE1MOmNvbS5hZG9iZS54bXAA AAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5U Y3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6 eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8w Mi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRw Oi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpE ZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRv YmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNv bS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20v eGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRv YmUgUGhvdG9zaG9wIENTNiAoTWFjaW50b3NoKSIgeG1wTU06SW5zdGFuY2VJRD0i eG1wLmlpZDpCNDg5MkEwM0ZEM0MxMUUzOTAyNDlCRDA2MTgzMjhENCIgeG1wTU06 RG9jdW1lbnRJRD0ieG1wLmRpZDpCNDg5MkEwNEZEM0MxMUUzOTAyNDlCRDA2MTgz MjhENCI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAu aWlkOkI0ODkyQTAxRkQzQzExRTM5MDI0OUJEMDYxODMyOEQ0IiBzdFJlZjpkb2N1 bWVudElEPSJ4bXAuZGlkOkI0ODkyQTAyRkQzQzExRTM5MDI0OUJEMDYxODMyOEQ0 Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8 P3hwYWNrZXQgZW5kPSJyIj8+8NlNEgAAAVBJREFUeNrs29EOgiAUgOHoLeC5Mq17 3/+2DTeSOmvWFFSoYf5nO2tuTTwfYEKlnHOHPcfxsPMAAAAAAAAAAAAAAAAAAAAA AAAAAAAgJZRS/kX32fZp/PE30p9b2tByvD78nmDG1H3e3DNsn9fcPebPKed20pZO uebcAK17jy4nghTffbTRlgRgBr0zRLhkKP4yUryVNssACPRSEsJE8a/RVRRABKFZ UXwTKr5IgEiv1QuKr+eMpiIBUhHmFl80QGQInwPFn5dMoaIBAr1pxxCkeLtk1BQP EEGoBu+plha/GYBA7/rjk6SdM0o2CxBBWFX85gACQ31yavwdgFz0aQLhMSV+taDb /X4AU4CbIB+DPAjxKMxiiOUwGyJsibEpyrY4X4zw1Vime4CWXjFfXMAZaUOn3gMU f5jg9wEAAAAAAAAAAAAAAAAAAAD7i7sAAwB/21/1MhzmOwAAAABJRU5ErkJggg==' );
            background-size: 25px 25px;
            background-repeat: no-repeat;
        }

        .image-details-content {
            float: left;
            width: 45%;
            margin: 0 3%;
            padding-right: 0.8em;
            border-right: 1px dotted #666;
        }

        .image {
            padding: 0.3em;
            border: 1px solid #888;
        }

            .image img {
                display: block;
                max-width: 100%;
                height: auto;
            }

        .image-details-desc {
            float: left;
            width: 85%;
            color: #767676;
        }

		hr {
  			border-color:#777;
		}
/*             .image-details-desc h3 { */
/*                 font-weight: normal; */
/*                 font-size: 19px; */
/*                 color: #fff; */
/*                 padding-bottom: 2px; */
/*                 border-bottom: 1px solid #777; */
/*                 margin-bottom: 0.3em; */
/*             } */
            
/* 			.image-details-desc p { */
/* 				border-bottom: 1px solid #777; */
/* 				margin-bottom: 0.3em; */
/* 			} */
#mainDiv{
	margin: auto;
	width: 98%;
}

#mapdiv{
		margin: 0px 10px 0px 10px;
        height: 450px;
        width: 30%;
        float: left;
        display: inline;
	}
	
#map {
        margin: 10px;
        padding: 0px;
        height: 385px;
        width: 94%;
        float: left;
        color: black;
      }

      
#mapdiv h4 { line-height: 16px; margin: 0 0 0.4em; }
#mapdiv h4 .ui-icon { float: left; }

#inner{
	width: 30%;
	margin: 0 auto;
	padding-left: 15px;
}

.span-route{
	float:right;
	margin-right:30px;
}

.saveRoute{
	color:silver;
}
/*dialog css*/
.validateTips { border: 1px solid transparent; padding: 0.3em; text-align:center;}
#dialog-save input { display:block; }
#dialog-save input.text { margin-bottom:12px; width:95%; padding: .4em; }


/*for route_memberRoute.jsp*/
#memRouteDiv{margin: 0px auto; width:75%}
    
    #memRouteGallery { margin: 0px auto; min-height: 12em; /*for grid*/ padding: 0;  list-style: none; /*overflow: auto;*/ height:525px}
   	.memRoute-gallery.custom-state-active { background: #eee; }
  	.memRoute-gallery li { float: left; width: 30%; padding: 0.6em; margin: 0 0.4em 0.4em 0; text-align: center; /*for grid*/overflow: hidden;}
  	.memRoute-gallery li h3 { margin: 0 0 0.4em;}
  	.memRoute-gallery li img { width: 100%; cursor: pointer; }
  	.memRoute-gallery li a { float: right; }
  	
  	.memRoute-viewimge{
			width:200px;
			height:200px;
		}
	.memRoute-validateTips { border: 1px solid transparent; padding: 0.3em; text-align:center;}
	@media (max-width: 767px) {
	.memRoute-gallery li { float: left; width: 47%; padding: 0.6em; margin: 0 0.4em 0.4em 0; text-align: center; /*for grid*/overflow: hidden;}  	
	}
	
@media (max-width: 767px) {
		#mapdiv{display: none;}
		#gallery{width:80%; margin:0 auto;}
		#route{width:80%; margin:0 auto;}
		#inner{
			width: 70%;
			margin: 0 auto;
		}
	}
	
/* for route_memRouteDetail.jsp*/
#detailtable{
	border:0px;
}
#detailtable td, th{
     border:0px;
 }
#detailtable th{
	font-size: 18px;
}

#detailtable td .desctitle{
	color:#458b74;
	font-weight: bold;
}

.detailname{
	font-size:16px;
	width:15%;
}

.detailorder{
	font-size:16px;
	width:10%;
}

.detailimg{
	width:100%;
	height:150px;	
}