*{
    margin: 0px;
    padding: 0px;
}
body { 
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: arial, sans-serif;
}
header{
    position: absolute;
    right:0;
    left:0;
    height: 30px;
    background-color: #e9e9e9;
}

header h1{
    margin-left: 20px;
    font-weight: bold;
    font-size: 25px;
}

nav{
    right:0;
    left:280px;
    top:30px;
    position: absolute;
    display: block;
    height: 20px;
    background-color: #DDDDDD;
}
ol{
    padding:0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    list-style-type: none;
    display: inline;
}
ol li {
    padding-left: 3px;
    padding-right: 3px;
    display: inline;
    font-size: 12px;
    background-color: white;
    border: 1px solid #aaaaaa;
    cursor: pointer;
}

ol li:hover {
    border: 1px solid red;
}

aside{
    position: absolute;
    top:30px;
    bottom:0;
    width: 30%;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #cbcbcb;
}
#content{
	position: absolute;
    background-color: #e9e9e9;
    left:31%;
    top:50px;
    right: 20%;
    padding: 2px;
    float:left;
}
#board {
    position: absolute;
    background-color: #e9e9e9;
    right: 20px;
    padding: 2px;
    overflow:auto;
    width:68% ;
	height:50%;
	top:5%;
    background-color: #F0FFFF;
}
#editchat{
	position: absolute;
	width:32%;
	height:42%; 
	top:56%;
	right:1.5%;
	
}

#chatDiv{
	position: absolute;
	width:100%;
	height:78.8%; 
	background-color: #FFFFCC;
	overflow:auto;
}
#btdiv{
	
	margin-top:75%; 
	width:100% ;
	height:15%; 
}

#chatinput{
	width:50% ;
	height:100%; 
}
@-webkit-keyframes bluePulse {
  from { background-color: #00BFFF; -webkit-box-shadow: 0 0 9px #6495ED; }
  50% { background-color: #87CEFA; -webkit-box-shadow: 0 0 18px #00BFFF; }
  to { background-color: #00BFFF; -webkit-box-shadow: 0 0 9px #6495ED; }
}
.savebt {
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  font-weight:900;
  font-size:medium;
  -webkit-text-fill-color: #FFFFFF;
  width:80px;
  height:38px;
  border-radius:5px;

}
@-webkit-keyframes blue2Pulse {
  from { background-color: #87CEFA; -webkit-box-shadow: 0 0 9px #87CEFA; }
  50% { background-color: #87CEFA; -webkit-box-shadow: 0 0 18px #87CEFA; }
  to { background-color: #87CEFA; -webkit-box-shadow: 0 0 9px #87CEFA; }
}
#chatbt{
  -webkit-animation-name: blue2Pulse;
  -webkit-animation-duration: 100s;
  -webkit-animation-iteration-count: infinite;
  font-weight:900;
  font-size:medium;
  -webkit-text-fill-color: #FFFFFF;
  width:80px;
  height:38px;
  border-radius:5px;

}

.chatbox{
	
}   
footer {
    position: absolute;
    bottom: 0px;
    left: 281px;
    right: 0px;
}

footer ol {

}

#logContainer{
    position: absolute;
    right: 0px;
    width: 200px;
    font-size: 6pt;
    top:0px;
    bottom: 0px;
    overflow-y: scroll;
    background-color: #eee7d3;
    border-left: 1px solid #ad995b;
    display: none;
}
.validateTips { 
	border: 1px solid transparent; 
	padding: 0.3em; 
	text-align:center;
}
#tt{
	width:50%;
	background-color: #CCFF99;
	margin-top:5px; 
	
	font-size:0.4cm;
	text-align:center;
	letter-spacing:2px;
	font-weight:900;
	
	border-top-left-radius:55pt 55pt;
	border-top-right-radius:55pt 55pt;
	border-bottom-left-radius:70pt 55pt;
	border-bottom-right-radius:70pt 55pt;
	
}
